@{
    ViewData["Title"] = "Privacy Policy";
}

@section Sole {
    <style>
        .exam-section {
            margin-top: 4.7rem;
        }

            .exam-section h1 {
                font-family: "Fredoka One",cursive;
                font-size: 2.8em;
                line-height: 1.15em;
            }

        .exam-table-section {
            background-image: url("/img/home/bg-1.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            padding-bottom: 150px;
        }
        .home-text-div {
            font-family: 'Fredoka One', cursive;
            font-size: 2.5em;
            color: #023661;
        }
    </style>
}

<section class="exam-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10"> </div>
        </div>
    </div>
</section>

<section class="exam-table-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-5">
                    <div class="card-header">
                        <h3 class="mb-0 home-text-div">Privacy</h3>
                    </div>
                    <div class="card-body">
                        <p>Cookies generally are used to perform one or all of the following :</p>
                        <ul>
                            <li><span class="font-weight-bold">Authentication :</span> Cookies help websites determine if a user is logged in, and then deliver the right experience and features to that unique user.</li>
                            <li><span class="font-weight-bold">Security :</span> Cookies help impose security measures on a website. They also help detect unusual and suspicious activities.</li>
                            <li><span class="font-weight-bold">Performance :</span> Cookies help website learn how services work for different people and how to route traffic between servers.</li>
                            <li><span class="font-weight-bold">Analytics and Research :</span> Websites and apps use cookies to learn which of their services are most used. This helps determine what to improve, what to remove and what to leave the same.</li>
                        </ul>
                        <p class="text-right text-blue font-weight-bold">
                            <a href="https://www.neurostormsoft.com">- NeuroStorm</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
