@model IspahaniBuzzerApp.Models.ViewModel.LoginViewModel

@{
    Layout = "~/Views/Shared/_Security.cshtml";
}

@{
    ViewData["Title"] = "Login";
}

@section Sole {

    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">

    <style>

        .exam-section h1 {
            font-family: "Fredoka One",cursive;
            font-size: 2.8em;
            line-height: 1.15em;
        }

        .exam-table-section {
            /*background-image: url("/img/bg-2.svg");*/
            padding-bottom: 150px;
            background-color: #ffb400;
            padding-top: 200px;
        }

        .bg-default {
            margin: 0;
        }

        .exam-table-heading {
            font-family: 'Fredoka One', cursive;
            font-size: 3.333em;
            color: #023661;
        }

        .form-control {
            color: #8898aa;
            border: 0 !important;
            padding: 0;
            font-size: 16px;
            font-style: unset;
            text-transform: unset;
            height: calc(1.5em + 1.25rem + 5px);
        }

        .card {
            border-radius: 10px;
        }

        .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .btn.login {
            height: 62px;
            padding: 1.3rem 3em !important;
            font-size: 18px !important;
            line-height: 16px !important;
        }

        .exam-table-section {
            background-color: #004C1E;
        }

        .bg-default {
            background-color: #9D9A49 !important;
        }

        .developedby {
            right: 5%;
            font-family: 'Saira Stencil One', cursive;
            font-size: 45px;
            color: #9D9A49;
        }
    </style>
}
<section class="exam-table-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mt--300 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">
                <div class="card-header bg-transparent pb-3">
                    <div class="text-center text-muted mb-4">
                        <small>Please fill up the form below in order to Login.</small>
                    </div>
                    <div class="btn-wrapper text-center">
                        <img class="w-50" src="~/img/logo/Ispahani_logo.jpg" alt="tps Logo" />
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Login With Credentials</small>
                    </div>
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input placeholder="User Name" asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input placeholder="Password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" asp-for="RememberMe" />
                            <label class="custom-control-label" asp-for="RememberMe">
                                <span class="text-muted">Remember Me</span>
                            </label>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Login" class="btn btn-warning rounded-pill text-uppercase login mt-4" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h2 class="text-right mt-4 position-absolute developedby">Developed by <br /> <span class="text-white">NeuroStorm</span></h2>
    </div>
</div>
